<div class="container">

  <div class="row">

    <div class="col-md-3 mt-5">

      <%= render 'users/info', user: @user, following_users: @following_users, follower_users: @follower_users %>

      <%= render 'users/form', post: @post %>

    </div>


    <div class="col-md-4 offset-md-1 mt-5">
      <table class="table">
        <% @users.each do |user| %>
          <tr>
            <th>
              <p><%= image_tag user.get_profile_image(60,60) %></p>
            </th>
            <th>
              <%= link_to user.user_name, user_path(user.id), class: "name-link" %>
            </th>
            <th>
              <%= render "relationships/follow", user: user %>
            </th>
            <th>
              <% if current_user.admin? %>
                <%= link_to "強制退会", unsubscribe_path(current_user.id) %>
              <% end %>
            </th>
          </tr>

        <% end %>
      </table>
    </div>

    <div class="col-md-3 offset-md-1 mt-5">
      <%= render "users/box" %>
    </div>


  </div>
</div>