  <%= @training_spot.address %>
  <div id='map' style = "width: 600px; height: 400px;"></div>

  <script>
  let map

    function initMap(){

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @training_spot.latitude %>, lng: <%= @training_spot.longitude %>},
          zoom: 12,
      });
      marker = new google.maps.Marker({ //GoogleMapにマーカーを落とす
        position: {lat: <%= @training_spot.latitude %>,lng: <%= @training_spot.longitude %>}, //マーカーを落とす位置を決める（値はDBに入っている）
        map: map //マーカーを落とすマップを指定
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>