<div class="container">
  <div class="training_spot_body">


    <div class="row">
      <div class="pt-3 ml-5">
        <h4 class="alart alert-secondary pl-2 pr-2">練習場所住所</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ml-5 mb-3">
        <%= @training_spot.address %>
      </div>

      <div class="ml-5 mt-3" id='map' style = "width: 600px; height: 400px;"></div>
    </div>

    <div class="training_spot_index">
      <%= link_to training_spot_index_path, class: "text-dark" do %>
        <h6>一覧ページに戻る</h6>
      <% end %>
    </div>

  </div>
</div>
  <script>
  let map

    function initMap(){

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @training_spot.latitude %>, lng: <%= @training_spot.longitude %>},
          zoom: 12,
      });
      marker = new google.maps.Marker({ //GoogleMapにマーカーを落とす
        position: {lat: <%= @training_spot.latitude %>,lng: <%= @training_spot.longitude %>}, //マーカーを落とす位置を決める（値はDBに入っている）
        map: map //マーカーを落とすマップを指定
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>