<div class="container d-flex">

  <div class="new-posts-body">


    <div class="row">
      <div class="ml-2">
        <h4 class="alert alert-secondary pl-2 pr-2">投稿フォーム</h4>
      </div>
    </div>

    <div class="row text-center">
      <div class="card">
        <div class="card-body">
          <%= form_with model: @post do |f| %>

          <div class="field card-text mt-2">
            <%= f.text_area :body,class: "form-control",autofocus: true %>
          </div>

          <div class="card-text mt-2">
            <%= f.label :posts_image, "画像をアップロード", class: "image_input_btn" %>
              <%= f.file_field :posts_image, class: "image_form" %>
          </div>

          <%= f.submit "投稿",class: "btn btn-success form-control mb-3" %>
          <%#= f.submit '下書き', :name => 'draft', class: 'form-control btn btn-outline-secondary mb-3' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>