<!DOCTYPE html>
<html>
  <head>
    <title>Fencer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src= "https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_KEY"] %>&callback=initMap"></script>
    <script src="https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"></script>
  </head>

    <body class="d-flex flex-column vh-100">

      <%= render 'layouts/header' %>

      <% if alert %>
        <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
      <% end %>
      <% if notice %>
        <div class="alert alert-warning" role="alert">
            <%= notice %>
          </div>
      <% end %>

      <main class="mb-auto">
      <%= yield %>
      </main>

      <div class="footer">
        <footer class="text-white pt-5 pb-4">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= image_tag 'logo.png', size: '60x60' %>
            </div>
          </div>
        </div>
      </footer>
      </div>

    </body>
</html>
